<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pzhu.my.shop.web.admin.dao.TbUserDao">
    <sql id="tbUserColumns">
         a.id,
          a.username,
          a.password,
          a.phone,
          a.email,
          a.created,
          a.updated AS "update"
    </sql>
    <select id="selectAll" resultType="TbUser">
        SELECT
        <include refid="tbUserColumns"/>
        FROM
        tb_user AS a
    </select>
    <insert id="insert">
    INSERT INTO tb_user (
      id,
      username,
      password,
      phone,
      email,
      created,
      updated
    )
    VALUES
      (
        #{id},
        #{username},
        #{password},
        #{phone},
        #{email},
        #{created},
        #{update}
      )
</insert>
    <delete id="delete">
    DELETE FROM tb_user WHERE id = #{id}
</delete>
    <select id="getById" resultType="TbUser">
        SELECT
        <include refid="tbUserColumns"/>
        FROM
        tb_user AS a
        WHERE
        a.id = #{id}
    </select>
    <update id="update">
    UPDATE
      tb_user
    SET
      username = #{username},
      password = #{password},
      phone = #{phone},
      email = #{email},
      created = #{created},
      updated = #{update}
    WHERE id = #{id}
</update>
    <select id="selectByName" resultType="TbUser">
        SELECT
        <include refid="tbUserColumns"/>
        FROM
        tb_user AS a
        WHERE
        a.username LIKE CONCAT ('%', #{username}, '%')
    </select>
    <select id="getByEmail" resultType="tbUser">
        SELECT
        <include refid="tbUserColumns"/>
        from tb_user AS a
        WHERE
        a.email = #{email}
    </select>
    <select id="search" resultType="tbUser">
        SELECT
        <include refid="tbUserColumns"/>
        FROM
        tb_user AS a
        <where>
            <if test="username!=null and username !=''">
                AND a.username LIKE CONCAT ('%', #{username}, '%')
            </if>
            <if test="phone!=null and phone !=''">
                AND a.phone LIKE CONCAT ('%', #{phone}, '%')
            </if>
            <if test="email!=null and email !=''">
                AND a.email LIKE CONCAT ('%', #{email}, '%')
            </if>
        </where>
    </select>
</mapper>